.container{
    margin-bottom: 100px;
}
.bgcolor{
    background-color: none;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;

}
.card-footer{
    background-color: white;
    border-top:none;
}
.justify-content-between {
    margin-bottom: 20px;
}
.small{
    color: #ffc220;
    font-size: 20px;
    
}

